<div class="jumbotron mt-4">
    <h1 class="display-4">Registro de notas MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas sit aut accusantium beatae odit pariatur nulla expedita facilis quos ab dolore rem commodi, iure quibusdam numquam nam! Velit, autem cumque!</p>
    <a href="http://github.com/manueljesus00" class="btn btn-primary btn-lg">Mi github</a>
</div>